h1{
    position: absolute;
    top:1px;
    font-size:60px;
    background-color: black;
    color: #f2f2f2;
    width:100vw;
    
}


.container {
    position: absolute;
    top:10rem;
    left:35rem;
    margin: auto;
    padding: 20px;
    width: 400px;
}

.signin-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 3D effect using box-shadow */
}

input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
    color: red;
}
