.formBox {
    position: absolute;
    top:230px;
    left:550px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formBox label {
    display: block;
    margin-bottom: 5px;
}

.formBox input[type='text'],
.formBox select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formBox button.addSubmit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.formBox button.addSubmit:hover {
    background-color: #45a049;
}
