.headingName{
    position: absolute;
    top:-40px;
    }
   
    .buttoncontainer{
        position: absolute;

        top:8rem;
        left:15rem;
      display: flex;
      flex-direction:row;
   
    }
    .domainButtons{
        width:10rem;
        height:2rem;
        margin:2rem;
        padding:1.5rem;
        font-size:1rem;


    }